
*{
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    

}

h1{align-self: center;}

.tgame{

    display:flex;
    flex-wrap:wrap; 
    justify-content: space-between;
    width:610px;
    height:610px;
    background-color:black;
    align-self: center;
    text-align:center;
    font-size: 50px;
    align-items: center;
    

}

.tgame div{

    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;   
    
}

.message{
    justify-content: center;
    align-self: center;
}

span{
    text-transform: capitalize;
    border: solid black;
    
}
h3{
    text-align: center;
}